.quiz-container {
    height: 70vh;
}

h4 {
    color: gray;
}

h4, button {
    font-family: 'Prosto One';
}

button {
    font-size: 2vh;
}

#note, #backButton {
    font-size: 12px;
    color: gray;
    font-family: 'Barlow';
}