<div class="container">
    <div *ngIf="!onQuiz" class="quiz-home">
        <h4>Click the quiz you want to take!</h4>
        <button type="button" class="btn btn-outline-success btn-lg" (click)="handleButtonClick('name')">
            Quiz 1: What is the name?
        </button>
        <button type="button" class="btn btn-outline-danger btn-lg" (click)="handleButtonClick('location')">
            Quiz 2: Where is it located?
        </button>
        <button type="button" class="btn btn-outline-warning btn-lg" (click)="handleButtonClick('style')" disabled>
            Quiz 3: What is the style?
        </button>
    </div>
    <div *ngIf="onQuiz" class="quiz-container">
        <div class="question-container">
            <app-questions [quizType]="quizType"></app-questions>
        </div>
        <div class="footer">
            <button (click)="back()">
                other quizzes <i class="bi bi-house"></i>
            </button>
            <p>
                Note: Loading of the image may take a while. For comments and suggestions, email me at <u>smburlaza@alum.up.edu.ph</u>
            </p>
        </div>
    </div>
</div>
