<div class="container">
    <div *ngIf="!onQuiz" class="quiz-home">
        <h4>Click the quiz you want to take!</h4>
        <button type="button" class="btn btn-outline-success btn-lg" (click)="handleButtonClick('name')">
            Quiz 1: What is the name?
        </button>
        <button type="button" class="btn btn-outline-danger btn-lg" (click)="handleButtonClick('location')">
            Quiz 2: Where is it located?
        </button>
        <button type="button" class="btn btn-outline-warning btn-lg" (click)="handleButtonClick('style')" disabled>
            Quiz 3: What is the style?
        </button>
    </div>
    <div *ngIf="onQuiz" class="quiz-container">
        <button class="home-btn" (click)="back()">
            <i class="bi bi-house"></i>
        </button>
        <div class="question-container">
            <app-questions [quizType]="quizType"></app-questions>
        </div>
    </div>
</div>
