<div class="d-flex justify-content-center">
    <div class="container">
        <ul class="list-group list-group-horizontal align-items-end justify-content-center">
            <li *ngFor="let group of dataArr" class="group list-group-item">
                <ul class="ul-group d-flex flex-wrap-reverse justify-content-center">
                    <li *ngFor="let item of group[1]" 
                    class="item" 
                    [ngStyle]="getDynamicStyle(item)"
                    (click)="onClick($event, item)">
                        {{ item.codename }}
                    </li>
                </ul>
                <p>{{ group[0] }}</p>
            </li>
        </ul>
    </div>
</div>
