ul {
    list-style: none !important;
}

.container {
    position: fixed;
    bottom: 12vh;
}

.group {
    // width: 5vw;
    font-size: 0.7vw;
    font-family: 'Barlow Condensed';
    padding: 0.5vw;
}

.group ul {
    padding: 0 !important;
    margin: 0 !important;
    // padding: 1vw 2vw;
}

.item {
    margin: 0.3vw 0.6vw;
    padding: 0.5vw;
    font-size: 0.6vw;
    width: 2vw;
    font-family: 'Barlow';
}

.group, .item {
    text-align: center;
}

li {
    border: none !important;
}