<div class="container">
    <div class="heading">
        <h4 class="mb-4">{{ heading }}</h4>
        <h4 id="score" class="mx-5"><i class="bi bi-star"></i> Score: {{score}}/{{questionsCount}}</h4>
    </div>
    <div *ngIf="isLoading" class="spinner">
        <div class="spinner-border" role="status"></div>
    </div>
    <div *ngIf="!isLoading" class="content">
        <img [src]="item?.imageURL" alt="">
        <div class="options-container">
            <div *ngFor="let option of shuffledChoices" class="option">
                <input id="{{option}}" type="radio" name="option" [value]="option" [(ngModel)]="selectedOption" (ngModelChange)="onSelect()">
                <label for="{{option}}"> {{ option }} </label>
            </div>
            <div class="buttons">
                <button type="button" class="btn btn-outline-success btn-sm mx-4" 
                (click)="getAnswer()" 
                [disabled]="!hasSelected">
                    See answer
                </button>
                <button type="button" class="btn btn-outline-info btn-sm" (click)="nextQuestion()">
                    Next question
                    <i class="bi bi-arrow-right"></i>
                </button>
            </div>
            <div *ngIf="answer" class="answer">
                <p>Answer:</p>
                <h4>
                    {{ answer }}
                </h4>
            </div>
        </div>
    </div>
</div>
