h3 {
    font-family: 'Prosto One';
    // background: -webkit-linear-gradient(rgb(245, 239, 181), #333);
    background: linear-gradient(90deg, #FC466B 0%, #3F5EFB 100%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    font-size: 3.5vh;
}

a {
    color: gray;
}

a:hover {
    color: yellowgreen;
}

a:link {
    text-decoration: none;
}

.nav-text a {
    font-family: 'Barlow';
}

.active {
    color: green !important;
    font-weight: bolder;
}

.toggle-img, #quiz {
    height: 4vh;
    width: auto;
}

img:hover {
    cursor: pointer;
}