<div class="main-container">
    <div class="heading">
        <div class="search-bar">
            <app-search-bar></app-search-bar>
        </div>
        <div class="title">
            <h3>
                ARCHITECTURAL WONDERS OF THE WORLD
                <i class="bi bi-globe"></i>
            </h3>
        </div>
        <div class="images">
            <div class="toggle">
                <img (click)="toggleMode()" class="toggle-img" *ngIf="isDarkMode" src="assets/images/day.png" alt="">
                <img (click)="toggleMode()" class="toggle-img" *ngIf="!isDarkMode" src="assets/images/night.png" alt="">
            </div>
            <img (click)="onQuizClick()" src="assets/images/quiz.png" alt="">
        </div>
    </div>
    <div class="content">
        <router-outlet></router-outlet>
    </div>
    <div class="nav-container">
        <ul>
            <li *ngFor="let path of paths">
                <a [routerLink]="path" [routerLinkActive]="['active']">{{ path | uppercase }}</a>
            </li>
        </ul>
    </div>
</div>

