<div>
    <div class="d-flex justify-content-between mt-4 mx-3">
        <div>
            <app-search-bar></app-search-bar>
        </div>
        <h3>ARCHITECTURAL WONDERS OF THE WORLD
        </h3>
        <div style="width: 15vw;"  class="d-flex flex-row-reverse">
            <img (click)="toggleMode()" class="toggle-img" *ngIf="isDarkMode" src="assets/images/day.png" alt="">
            <img (click)="toggleMode()" class="toggle-img" *ngIf="!isDarkMode" src="assets/images/night.png" alt="">
            <img id="quiz" (click)="onQuizClick()" class="mx-2" src="assets/images/quiz.png" alt="">
        </div>
    </div>
    <div class="container-fluid" style="height: 82vh;">
        <router-outlet></router-outlet>
    </div>
    <div style="height: 8vh;">
        <nav class="navbar navbar-expand-lg navbar-light shadow-5-strong px-4">
            <div class="collapse navbar-collapse justify-content-center" id="navbarNav">
                <ul class="navbar-nav ml-auto nav">
                    <li class="nav-item nav-text">
                        <a class="nav-link" routerLink="alphabetical" [routerLinkActive]="['active']">ALPHABETICAL</a>
                    </li>
                    <li class="nav-item nav-text">
                        <a class="nav-link" routerLink="chronological" [routerLinkActive]="['active']">CHRONOLOGICAL</a>
                    </li>
                    <li class="nav-item nav-text">
                        <a class="nav-link" routerLink="location" [routerLinkActive]="['active']">LOCATION</a>
                    </li>
                    <li class="nav-item nav-text">
                        <a class="nav-link" routerLink="programmatic" [routerLinkActive]="['active']">PROGRAMMATIC</a>
                    </li>
                    <li class="nav-item nav-text">
                        <a class="nav-link" routerLink="style" [routerLinkActive]="['active']">STYLE</a>
                    </li>
                </ul>
            </div>
        </nav>
    </div>
</div>

