.main-container {
    padding: 20px;

    .heading {
        display: flex;
        justify-content: space-between;

        .title {

            h3 {
                font-family: 'Prosto One';
                // background: -webkit-linear-gradient(rgb(245, 239, 181), #333);
                background: linear-gradient(90deg, #FC466B 0%, #3F5EFB 100%);
                -webkit-background-clip: text;
                -webkit-text-fill-color: transparent;
                font-size: 3.5vh;
            }
        }

        .images {
            width: 15vw;
            display: flex;
            flex-direction: row-reverse;
            margin-top: 5px;

            .toggle {
                width: 40px;
                justify-self: end;
            }

            img {
                height: 30px;
                width: 30px;
                margin-left: 10px;
            }

            img:hover {
                cursor: pointer;
            }
        }
    }

    .content {
        height: 82vh;
    }

    .nav-container {
        height: 8vh;
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: center;

        ul {
            display: flex;
            flex-direction: row;
            align-items: center;
            justify-content: center;
            list-style: none;

            li {
                margin: 0 10px;

                a {
                    color: gray;
                    font-family: 'Barlow';
                }
                
                a:hover {
                    color: yellowgreen;
                }
                
                a:link {
                    text-decoration: none;
                }

                .active {
                    color: green !important;
                    font-weight: bolder;
                }
            }
        }
    }
}






