<div style="max-height: 80vh; overflow-y: scroll;" class="justify-content-center text-center">
    <div class="d-flex flex-wrap justify-content-center text-center">
        <ng-container *ngFor="let result of searchResults">
            <div class="card m-3">
                <img class="card-img-top" [src]="result.imageURL" (click)="onClick($event, result)">
                <div class="card-body text-center m-0">
                    <p class="card-text">{{result.name}}</p>
                </div>
            </div>
        </ng-container>
    </div>
</div>
