.card {
    width: 20vw;
    height: 25vh;

    img {
        min-width: 20vw; 
        min-height: 20vh; 
        object-fit: cover;
    }

    img:hover {
        cursor: pointer;
    }
}

p {
    font-size: 1.5vh;
    font-family: 'Barlow';
}