<div *ngIf="archDetail" class="detail-container">
    <div class="img-container">
        <img src="{{ archDetail.imageURL }}" alt="">
    </div>
    <div class="description">
        <h4> 
            <a href="{{ archDetail.descriptionURL }}" target="_blank">
                {{ archDetail.name }}
                <i class="bi bi-box-arrow-up-right" style="font-size: 20px;"></i>
            </a>
        </h4>
        <h5><i class="bi bi-geo-alt"></i> {{ archDetail.location }}</h5>
    </div>
</div>