<div *ngIf="archDetail" class="detail-container">
    <div class="img-container">
        <img src="{{ archDetail.imageURL }}" alt="">
    </div>
    <div class="description">
        <h3> {{ archDetail.name }} </h3>
        <h5><i class="bi bi-geo-alt"></i> {{ archDetail.location }}</h5>
        <a class="btn btn-outline-info btn-sm" href="{{ archDetail.descriptionURL }}" target="_blank" role="button">
            More Info 
            <i class="bi bi-box-arrow-up-right"></i>
        </a>
    </div>
</div>